{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
        </div>
    </div>
</header>

<br>

<div class="container">

{% if cart_products %}

    {% for product in cart_products %}

    <div class="card mb-3">
      <div class="row g-0">

        <!-- Product Image -->
        <div class="col-md-4">
          <img src="{{ product.image.url }}" class="img-fluid rounded-start">
        </div>

        <!-- Product Details -->
        <div class="col-md-8">
          <div class="card-body text-center">

            <h4 class="card-title">{{ product.name }}</h4>

            <p class="card-text">
                {{ product.description }}
            </p>

            {% if product.is_sales %}

            <strike>₹{{ product.price }}</strike>
            &nbsp;
            <strong>₹{{ product.sale_price }}</strong>

            {% else %}

            <strong>₹{{ product.price }}</strong>

            {% endif %}

            <br><br>

            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

            <button class="btn btn-dark">
                Remove
            </button>

          </div>
        </div>

      </div>
    </div>

    {% endfor %}

{% else %}

<div class="text-center">
    <h3>Your Cart Is Empty 🛒</h3>
    <br>
    <a href="{% url 'home' %}" class="btn btn-dark">Go Shopping</a>
</div>

{% endif %}

</div>

<br><br>

{% endblock %}